{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="The shopping list app">
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@800&family=Roboto:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Shopping list</title>


</head>
<body>

    <div class="container p-0 mx-auto col-xm-9 col-sm-9 col-md-6">
        {% block content %}
    
    
        {% endblock content %}

      <div class="footer no-gutter">
        <a href="https://github.com/slbabin/shopping-list4" target="_blank"><i class="fab fa-github grow"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook grow"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram grow"></i></a>
      </div>  
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>    