{% extends 'shoppinglistapp/base.html' %}

{% load static %}

{% block content %}


    <div class="row">
        <div class="col-sm w-60 p-0 main-left-col">
          <h1>Shopping List</h1>

          <p>Plan and manage your grocery shopping list with ease using this shopping list app.</p>

          <p class="font-weight-bold">Login to create or retrive your list.</p>

          <a href="{% url 'login' %}" class="myButton home-page-btn">Login</a>

          <p class="font-weight-bold">Register if you don't have an account.</p>

          <a href="{% url 'register' %}" class="myButton home-page-btn">Register</a>

        </div>

        <div class="col-sm w-40 p-0 d-block align-items-center main-right-col">
          <img class="img-fluid mx-auto main-img" src="{% static 'images/app-image.jpg' %}" alt="A man with a pad">
        </div>
      </div>




{% endblock content %}

