{% extends 'shoppinglistapp/base.html' %}

{% load static %}

{% block content %}


    <div class="row">
        <div class="col-sm">
          <h1>Shopping List</h1>

          <p>Plan and manage your grocery shopping list with ease using this shopping list app.</p>

          <p>Login to create or retrive your list.</p>

          <a href="{% url 'login' %}" class="myButton">Login</a>

          <p>Register if you don't have an account.</p>

          <a href="{% url 'register' %}" class="myButton">Register</a>

        </div>

        <div class="col-sm">
          <img class="img-fluid main-img" src="{% static 'images/app-image.jpg' %}" alt="A man with a pad">
        </div>
      </div>




{% endblock content %}

