<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Shopping list</title>
</head>
<body>

    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="">Logout</a>
    {% else %}
    <a href="">Log in</a>
    {% endif %}


    <h1>Your shopping list</h1>
    <a href="{% url 'item-create' %}">Add Item to the list</a>
    
    <table>
        <tr>
            <th>Item</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>  
        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td><a href="{% url 'item' item.id %}">View</a></td>
            <td><a href="{% url 'item-update' item.id %}">Edit</a></td>
            <td><a href="{% url 'item-delete' item.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h2>You have no items on the list!</h2>
        {% endfor %}
    </table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>