
{% extends 'shoppinglistapp/base.html' %}

{% block content %}

<div class="container-header">
    
    <a href="{% url 'shopping_list' %}"><i class="fa fa-reply" aria-hidden="true"></i> Go Back</a>

    {% if object %}
    <h2>Edit the form below</h1>
    {% else %}
    <h2>Add an item in the form below</h1>
    {% endif %}
    

</div>
<div class="card-container">

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
<input class="myButton" type="submit" value="Submit">


</form>

</div>
{% endblock content %}