    {% extends 'shoppinglistapp/base.html' %}

    {% block content %}

    <div class="container-header">

        <div>
            <h1>Hi {{request.user | title}}</h1>
            <h4>You have {{count}} item{{count|pluralize}} on the list!</h4> 
        </div>
        {% if request.user.is_authenticated %}
   
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>




    <h1>Your shopping list </h1>
    <div class="add-item-wrapper">
    <a href="{% url 'item-create' %}">Add Item to the list</a>  <a id="add-item-icon" href="{% url 'item-create' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>
        <div class="items-wrapper">
        {% for item in items %}
        <div class="item-wrapper">
            {% if item.complete %}
            <div class="item-name">
                <div class="item-complete-icon"></div>
                <i><s><a href="{% url 'item-update' item.id %}">{{ item }}</a></s></i>
                
            </div>
            {% else %}
            <div class="item-name">
                <div class="item-incomplete-icon"></div>
                <a href="{% url 'item-update' item.id %}">{{ item }}</a>
                
            </div>

            {% endif %}

            <a class="item-delete-link" href="{% url 'item-delete' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>

        </div>
        {% empty %}
        <h2>You have no items on the list!</h2>
        {% endfor %}

    </div>
    


    {% endblock content %}

