body{
    background-color: #0c1968;
    background-image: url("../images/background.jpg");
    font-family:'Sawarabi Gothic', sans-serif;
    padding-top: 70px;
    background-size: cover;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
.right-col {
    min-height: 400px;
    width: 40%;
    /* background-image: url("../images/app-image.jpg"); */
    background-size: cover;
    background-color: white;

}

.container{
    
    background-color: #0c1968;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.container-header{
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    justify-content: space-between;
    color: #fff;       
    background: rgb(9,200,248);
    background: linear-gradient(80deg, rgb(6, 143, 207) 0%, rgba(69,45,253,1) 100%);
}
.container-header a {
    text-decoration: none;
    color: #fafafa;
    
}


.item-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-top: 1px solid #7e7d7d;
    border-color: #9e9898;        
}

.item-name{
    display: flex;
}
.item-name a {
    color: #5b5757;
    text-decoration: none;
    margin-left: 10px;
}
.item-complete-icon {
    width: 20px;
    height: 20px;
    background-color: rgb(5, 99, 28);
    border-radius: 50%;
}
.item-incomplete-icon {
    width: 20px;
    height: 20px;
    background-color: rgb(172, 7, 7);
    border-radius: 50%;
}

.item-delete-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 0;
    color: #920b0b;
}
#add-item-icon {
    text-decoration: none;
    color: #920b0b;
    font-size: 40px;
    text-shadow: 1px 1px #920b0b;
   
}
.add-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5em;

}
input[type=text],
input[type=password],
textarea {
    border: 1px solid #1a25c5;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}
textarea {
    height: 100px;
    vertical-align: top;
}
label {
    padding-top: 10px;
    /* display: inline; */
    font-size: 1.2em;
    margin-right: 20px;
}
.button {
    background-color: #fafafa;        
    color: #7e7d7d;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1a25c5;        
    cursor: pointer;
    border-radius: 10px;
}

.card-container {
    padding: 20px;
    background-color: white;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.5em;;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
    text-decoration: none;
    color: #b9b6b6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.main-img {
    min-width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-left-col {
    /* min-width: 40%; */
    background-color: white;
}
.main-right-col {
    background-color: white;
    
}
.main-left-col h1 {
    font-weight: 900;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Gabarito', sans-serif;
    font-size: 3em;
}
.main-left-col p {
    margin-left: 20px;
    margin-right: 20px;
}
.home-page-btn {
    margin: 0px 20px 30px;
    width: 90%;
    text-align: center;
}

.footer {
    font-size: 2em;
    text-align: center;
    color: white;
    background: rgb(9,200,248);
    background: linear-gradient(80deg, rgb(6, 143, 207) 0%, rgba(69,45,253,1) 100%);
    
}
.footer a {
    color: white;
}

.grow:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

input[type=checkbox] {
    transform: scale(2);
}

.search-bar {
    margin-bottom: 5px;
}

.register-form label {
    display: block;
}

.login-btn {
    font-size: 1.2em;
}
.login-btn:hover {
    color: #b9b6b6;
}